/*MARTA*/
.fundo_fonte {
    background-color: #ADD8E6; /* Cor azul-claro */
    padding: 20px;
    color: #333;
    font-size: 18px;
}
/* Estilos para todas as telas */
.tela {
    position: absolute; /*posição absoluta , centralizou tudo*/
    padding: 40px;  /* preenchimento de 20% da tela*/
    top: 50%; /*topo de 50*/
    left: 50%; /*esquerda 50%*/
    transform: translate(-50%, -50%); /*transformar: traduzir*/
    text-align: center;/* texto alinhado no centro*/
    border: 5px double #dddddd;/*linha dupla de 3px*/
    background: transparent; /*fundo transparente*/
    backdrop-filter: blur(5px); /*desfoque de fundo*/ 
    border-radius: 10px;/*linha da borda*/
    color: rgb(225, 222, 222);
    background-color: #5f4e4e9f;
    }

.tela a {/*é como se fosse uma função*/
    text-decoration: none; /*decoração de texto nenhuma*/
    font-weight: 60px; /*espessura da fonte*/ 
    font-size: 0.9em; /*tamanho da fonte*/
}

.tela a:hover { /*assim que o mouse passar por cima*/
    color: aqua; /* mudar de cor o botão continuar e cadastrar */
    text-decoration: underline; /*texto decorado e sublinhado*/}

/* Estilos específicos para a tela de compras */
#compras .caixa {
    margin: 0%;
    width: 100%; /* Alterado para ocupar 100% da largura */
    display: flex; /* Alterado para usar flexbox */
    flex-wrap: wrap; /* Permite que as caixas quebrem para a próxima linha */
    justify-content: space-between;
    position:static;
}

#compras .caixinha {
    width: calc(27% - 40px); /* Calculado para ocupar 20% da largura com margens entre elas */
    padding: 10px;
    margin-bottom: 10px;
    background-color: #5f4e4e9f;
    border: 3px double rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(231, 217, 217);
    cursor: pointer;
    transition: transform 0.3s ease;
    float: left; /* Para alinhar as caixas lado a lado */
    size: 20%;
}

#compras .caixinha:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgb(53, 52, 52);}

#compras .imagem img {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;}

#compras div {
    background-color: #3498db00;
    transition: background-color 0.3s ease;}

#compras div:hover { background-color: #00000000;}

#compras a:link {
    color: blue;
    text-decoration: none;}

/*TELA-AND*/
.andamento{
    margin: 25%;
    text-align: center;
    font-size: 50px;
    background-color: #78441a;
    color: rgb(255, 255, 255);
}
    
/*TELA-TOP*/
.menu {
    position: fixed;
    top: 10%;
    right: -20%;
    width: 20%;
    height: 100%;
    background-color: #f4f4f4;
    /* box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1); */
    transition: right 0.3s ease;
    /* z-index: 1; */
}

.menu ul {
    list-style: none;
    padding: 20px;
}

.menu ul li {
    margin-bottom: 1%;
}

.menu.active {
    right: 0;
}

/*TELA-LIVROS*/
/* class="menu-btn
 .menu-btn {
    position: fixed;
    right: 20px;
    padding: 21px 24px;
    background-color: #47342e;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    margin-left: 10px;
} */

.menu {
    position: fixed;
    top: 10%;
    right: -20%;
    width: 20%;
    height: 100%;
    background-color: #f4f4f4;
    /* box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.1); */
    transition: right 0.3s ease;
    /* z-index: 1; */
}

.menu ul {
    list-style: none;
    padding: 20px;
}

.menu ul li {
    margin-bottom: 1%;
}

.menu.active {
    right: 0;
}

/*TELA-DETATHAR*/
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fundo_fonte {
    background-color: #dddddd;
    font-family: serif;
    color: #000;
}

/* Estilos para o recipiente principal */
/* .recipiente {
    text-align: center;
    width: 59%;
    margin: 7% auto;
    border: 5px double #000000;
    /* background: transparent; */
    /* backdrop-filter: blur(5px); 
    border-radius: 10px;
    color: rgb(225, 222, 222);
    padding: 20px;
} */

/* Estilos para os itens de notícias */
.news-item {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    padding: 0;
    height: auto;
    text-align: center;
    margin: 7% auto;
    margin-left: 25%;
}

.tp {
    background-color: #985d416e;
    border: 4px double rgb(231, 217, 217);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 70%;
    width: 70%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-size: 20px;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa:before {
    content: '\f005';
    background-color: #985d4100;
    color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #ffffff;
}

.estrelas label i.fa {
    font-size: 2.5em;
}

/* Estilos para a descrição */
.descricao-box {
    margin-top: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    float: left;
}

/* Estilos para a imagem */
.img {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    left: 0%;
}

/*TELA-COMPRAR*/
.container {
    max-width: 600px;
    margin: 9% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px double #dddddd;            
}
h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="end"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #47342e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color:  #47342e;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #906749;
    color: #fff;
    padding: 0.1%;
    text-align: center;
}

/* SIDE BAR  - MARIA */
@import url('https://fonts.googleapis.com/css2?family=Outfit/:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{ height:900vh;}

nav.menu-lateral{
    width:100px;
    height:100%;
    padding:40px 0 40px 1%;
    background-color: #906749;
    position:fixed;
    top: 9%;
    left: 0;
    overflow: hidden;
    transition:0.5s;}
    
nav.menu-lateral:hover{
     width:300px;
    }

.btn-expandir{
    width:100%;
    padding-left:15px;}

.btn-expandir > i{
    color:#ffffff;
    font-size: 24px;
    cursor:pointer;}

ul{ height:100%;
    list-style-type: none;}

ul li.item-menu{ transition:0.5s;}

ul li.item-menu:hover{ background: #78441a;}

ul li.item-menu a{
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 9%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;}
    
ul li.item-menu a .text-link{ margin-left: 60px;}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left:17px;}

/* Seus estilos CSS existentes */

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;}

/* Estilos para o conteúdo do modal */
.modal-content {
    background-color: white;
    padding: 30px;
    border: 10px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}

/* Estilo para o botão de fechar o modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;}

/*GISELLY*/
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-right: 20px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
    font-size: 18px;
}
.nav a:hover {
    text-decoration: underline;
    color: #088fa7;
}

.centered-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed; /* Fixar a barra no topo da tela */
    top: 0; /* Posicionar no topo */
    background-color: #ffffff; /* Defina a cor de fundo desejada */
    z-index: 1000; /* Defina um índice z alto para garantir que fique sobre outros elementos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 250px;
}

.input {
    width: 100%;
    height: 60px;
    width: 200%;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    margin-left: 20%;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgb(253, 249, 249);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(245, 243, 244, 0.1);
}

.icon {
    position: absolute;
    left: 0%;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px; /* Espaçamento direito para os botões */
    width: 100%; /* Definir a largura total para centralizar horizontalmente */
}

/* Estilos para os botões */
.button {
    background-color: #47342e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    height: 60px;
    margin-right: 10px;
    margin-top: 1%;
}
.titulo{
    width: 100px;
}

/*TELA INICIAL*/
.tela_inicial {
    position:fixed;
    font-size: 5rem;
    font-weight: 1000;
    color: #78441a;
    text-align: center;
    margin-top: 10%;
    margin-left: 23%;
}
.a {
    position:fixed;
    margin-left: 24%;
    color: #805a3a;
    font-size: 25px;
    top: 39%;
}
.rodape{
    background-color: #805a3a;
    position:fixed;
    width: 100%;
    height: 10%;
    bottom: 0%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
