<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/CSS.css">
    <title>MMG</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome Categoria</th>
                <th>ID da Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categoria %}
                <tr>
                    <td>{{ c[0] }}</td>
                    <td>{{ c[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

