<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS.css">
  <title>MMG</title>

</head>
<body> <!--style="background-color: #d3b195;"-->
  <div class="button-container">
    <button class="button"><a href="tela_login.html" style="color: white;">Login</button>
    <button class="button"><a href="tela_cad.html" style="color: white;">Cadastrar-se</button>
  </div>

  <p class="tela_inicial">Viaje através dos livros</p>
  <p class="a">MMG a melhor livraria de todas</p>

  <h1 class="rodape">A marta está cansada!</h1>
</body>
</html>
