<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"> <!--TELA3 E 4 DA MARIA-->
    <link rel="stylesheet" type="text/css" href="../CSS.css">
    <link rel="stylesheet" href="tela_livros.html">
    <title>MMG</title>
</head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="script.js"></script>
<body class="imagem">
    <div id="login" class="tela"> <!--MARIA-->
        <h1>Login</h1>
        <form method="post" action="\login"> <!-- POST é um método HTTP utilizado em formulários HTML para enviar dados de forma segura ao servidor.// ação de login-->
            <h2>Email <input type="text" name="email" placeholder=""></h2>
            <h2>Senha <input type="password" name="senha" placeholder=""></h2>
            <button type="submit">Continuar</button>
            <p>Não tem uma conta? <a href="#" class="link-registro" onclick="mostrarTelaCadastro()">Cadastrar-se</a></p>
        </form>
    </div>
    
    <div id="cadastro" class="tela" style="display: none;"> <!--MARTA-->
        <h1>Cadastrar</h1>
        <form method="post" action="/add"> <!--Ação de adicionar conteudo/inserir-->
            <h2>Email <input type="text" name="email" placeholder=""></h2>
            <h2>Senha <input type="password" name="senha" placeholder=""></h2>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
