{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/CSS.css">
  <title>MMG</title>
</head>
<body>
  <div>
      <div>
        <form action='/login' id="login" method='POST'>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required placeholder="email">
          <label for="senha">Senha</label>
          <input type="password" name="senha" id="senha" required placeholder="Senha"> <br> <br>
          <button type="submit" id="btn_login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Continuar </button>
        </form> 
    </div>
  </div>
    
</body>
</html> {% endcomment %}