<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/css/CSS.css">
  <link rel="stylesheet" href="../app.py">
  <title>MMG</title>
</head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
  <div id="login" class="tela">
    <h1>Login</h1>
    <form action='/login' id="login" method='post'> 
      <h2>Email <input type="conteudo/inserir" name="email" placeholder=""></h2>
      <h2>Senha<input type="password" name="senha" placeholder=""></h2> <br>
      <button type="submit" id="btn_login">Continuar</button>
    </form>
  </div>
</body>
</html>