<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"> <!--TELA3 E 4 DA MARIA-->
    <link rel="stylesheet" href="../static/css/CSS.css">
    <title>MMG</title>
    
</head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<body class="imagem">
    <div id="cadastro" class="tela">  <!--MARTA-->
        <h1>Cadastrar</h1>
        <form method="POST" action="/add">
            <!-- Ação de adicionar conteúdo/inserir -->
            <h2>Email <input type="conteudo/inserir" name="email" placeholder=""></h2>  <!-- type="text" -->
            <h2>Senha <input type="password" name="senha" placeholder=""></h2>
            <button type="submit">Enviar</button>
        </form>
    </div>
</html>